.sns-item {
    margin-left: 10px;
    text-align: center;
}
.sns-score {
    font-size: 0.7rem;
    margin-top: 3px;
    margin-bottom: 0px;
}
.c-ft-num {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
.sns {
    border-top:none !important;
    min-width: 47px !important;
    text-align: center;
    vertical-align: top;
    padding: 5px 0 0;
}
.sns-ul{
    margin-bottom: 0px;
}
.sns-icon{
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align: center;
}
.sns-pv{
    font-size: 0.7rem;
    color: #95989A;
    margin-top: 3px;
    margin-bottom: 0px;
}
.yt {
    background-image: url('/img/ico_yt.png');
}
.tw {
    background-image: url('/img/ico_tw.png');
}
.ig {
    background-image: url('/img/ico_ig.png');
}
.fb {
    background-image: url('/img/ico_fb.png');
}
.li {
    background-image: url('/img/ico_li.png');
}
.sn {
    background-image: url('/img/ico_sn.png');
}
.we {
    background-image: url('/img/ico_we.png');
}
.user-image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-size: cover;
    display: block;
}
.body-table {
    width:auto;
    margin-bottom: 30px;
    overflow-x: scroll;
    font-size:auto
}
.right {
    right:0
}
.outer-container {
    position: relative;
}
.body-card {
    position: relative;
    overflow-x: unset;
    font-size: 1rem;
    overflow-y: auto;
}
.btn-pin-posts{
    left: 14.5rem;
    z-index: 2;
    position: fixed;
    bottom: 0;
    width: calc(100% - 16.5rem);
    text-align: center;
    background: #fff;
}
.img-post {
    width: 180px;
    height: 120px;
    background-size: cover;
    background-position: center;
}
.width-5 {
    width: 5%;
}
.width-10 {
    width: 10%;
}
.width-15 {
    width: 15%;
}
.width-20 {
    width: 20%;
}
.width-25 {
    width: 25%;
}
.column-checkbox {
    width: 5%;
}
.column-state {
    width: 5%;
}
.column-image {
    width: 20%;
}
.column-title {
    width: 15%;
}
.column-category {
    width: 5%;
}
.colunn-tag {
    width: 10%;
}
.column-favorites {
    width: 5%;
}
.column-icon {
    width: 25%;
}
.column-date {
    width: 10%;
}
.column-pin {
    width: 5%;
}
.column-user-image {
    width: 5%;
}
.column-user-name {
    width: 10%;
}
.column-user-gender {
    width: 5%;
}
.column-user-age {
    width: 5%;
}
.column-user-location {
    width: 10%;
}
.column-user-point {
    width: 10%;
}
.column-user-sns {
    width: 45%;
}
tr .column-user-sns {
    padding: 0.25rem;
}
.column-date {
    width: 5%;
}
.p-tag {
    overflow-x: auto;
    white-space: nowrap;
    white-space: -moz-pre-wrap;
    word-wrap: break-word;
    font-size: small;
    font-weight: bold;
}
.span-tag{
    overflow-x: auto;
    white-space: nowrap;
    white-space: -moz-pre-wrap;
    word-wrap: break-word;
    font-size: small;
}

ul {
    overflow: auto;
    white-space: nowrap;
}
ul.nav.nav-tabs {
    overflow: hidden;
}
.history_img img {
    width: 30px;
    height: 30px;
}
.tab-content.tab-history{
    background: #e4e5e6;
    border: none;
}
.p-tag.history_message{
    word-wrap: break-word;
    white-space: normal;
}
.nav-link.create-link{
    padding:5px;
}
.nav-tabs.nav-create {
    border-bottom: none;
}
.p-tag span {
    font-weight: normal;
}
